@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

@import "tailwindcss/tailwind.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --dark-black: theme("colors.dark-black");
  --white: theme("colors.white");
}
